@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #060606;
  --color-white: #ffffff;
  --nav-max-height: 102px;
}

body {
  background-color: var(--background-color);
}

h1, h2 {
  color: var(--color-white);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
