@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #060606;
  --color-white: #ffffff;
}

body {
  background-color: var(--background-color);
}

h1, h2 {
  color: var(--color-white);
}
